# emacs backup files
.#*
.git
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.sass-cache

# Vim swap and backup files
*.swo
*.swp

# ctags files
tags

node_modules/
bower_components/
dist/
session.vim

